[Unit]
Description=Minecraft server %i

[Service]
Type=simple
WorkingDirectory=/home/minecraft/%i
EnvironmentFile=-/home/minecraft/%i/environ
ExecStart=/usr/bin/java -Xms512M -Xmx4G -XX:PermSize=512M -XX:+UseParNewGC -XX:+UseConcMarkSweepGC -Dfml.queryResult=confirm -jar server.jar nogui $CUSTOM_ARGS
ExecStop=/home/minecraft/scripts/systemd-stop.sh
Restart=always
KillMode=none
TimeoutStopSec=5min

[Install]
WantedBy=default.target

