[Unit]
Description=Minecraft server %i
StartLimitIntervalSec=60
StartLimitBurst=2

[Service]
Type=simple
WorkingDirectory=%h/%i
Environment=MEM_MIN=512M
Environment=MEM_MAX=2G
EnvironmentFile=-%h/%i/environ
ExecStart=/usr/bin/env java -Xms${MEM_MIN} -Xmx${MEM_MAX} -XX:PermSize=512M  -XX:+UseG1GC -Dsun.rmi.dgc.server.gcInterval=2147483646 -XX:+UnlockExperimentalVMOptions -XX:G1NewSizePercent=20 -XX:G1ReservePercent=20 -XX:MaxGCPauseMillis=50 -XX:G1HeapRegionSize=32M -Dfml.queryResult=confirm $JVM_ARGS -jar server.jar nogui $MC_ARGS
ExecStop=%h/scripts/systemd/stop.sh
Restart=always
#KillMode=none
TimeoutStopSec=5min
SyslogIdentifier=%i

[Install]
WantedBy=default.target

