[Unit]
Description=Minecraft server %i
StartLimitIntervalSec=60
StartLimitBurst=2

[Service]
Type=simple
WorkingDirectory=%h/%i
Environment=MEM_MIN=512M
Environment=MEM_MAX=2G
Environment=JVM_ARGS="-Dfml.queryResult=confirm -XX:+UseG1GC -Dsun.rmi.dgc.server.gcInterval=2147483646 -XX:+UnlockExperimentalVMOptions -XX:G1NewSizePercent=20 -XX:G1ReservePercent=20 -XX:MaxGCPauseMillis=50 -XX:G1HeapRegionSize=32M"
Environment=MC_ARGS=nogui
EnvironmentFile=-%h/%i/environ
ExecStart=%h/scripts/systemd/start.sh
ExecStop=%h/scripts/systemd/stop.sh
Restart=always
#KillMode=none
TimeoutStopSec=5min
SyslogIdentifier=%i

[Install]
WantedBy=default.target

